# Python
__pycache__/
*.py[cod]
*$py.class
.venv
venv/
ENV/
.env

# Data
data/*.parquet
data/*.state
data/*.graphml
data/vis/
data/property_graph_map.html

# OS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
